{% extends 'layouts/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>crear unidades</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles/crear_registros.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico">
</head>
<body>
    <div class="crear-unidad">
        <h1>AGREGAR NUEVA UNIDAD</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const socioField = document.querySelector('input[name="socio"]');
                    const tarifaField = document.querySelector('select[name="id_tarifa"]');

                    if (socioField && tarifaField) {
                        const updateTarifa = () => {
                            const options = tarifaField.options;
                            for (let i = 0; i < options.length; i++) {
                                if (socioField.checked && options[i].text.includes('PREMIUM')) {
                                    tarifaField.value = options[i].value;
                                    break;
                                } else if (!socioField.checked && options[i].text.includes('STANDAR')) {
                                    tarifaField.value = options[i].value;
                                    break;
                                }
                            }
                        };

                        updateTarifa();
                        socioField.addEventListener('change', updateTarifa);
                    }
                });
            </script>
            <div class="button-container">
                <button type="submit">AGREGAR</button> 
            </div>     
        </form>
    </div>
</body>
</html>
{% endblock %}
