{% extends 'layouts/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Unidades de Transporte</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles/listar_tablas.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico">
</head>
<body>
    <div class="header-container">
        <h1>LISTADO DE UNIDADES</h1>
        <div class="dropdown">
            <button class="dropdown-toggle" id="dropdownButton">Opciones</button>
            <div class="dropdown-menu" id="dropdownMenu">
                <a class="menu-item" href="{% url 'crear_unidad' %}">Agregar Unidad</a>
                <a class="menu-item" href="{% url 'exportar_unidades_excel' %}?numero_unidad={{ numero_unidad }}&socio={{ socio }}&placa={{ placa }}&responsable={{ responsable }}&contacto={{ contacto }}&tarifa={{ tarifa }}&estado={{ estado }}">Exportar Excel</a>
            </div>
        </div>
    </div>
    <div class="filter-container">
        <select id="filter-select">
            <option value="">Seleccione un filtro</option>
            <option value="numero_unidad">N° UNIDAD</option>
            <option value="socio">SOCIO</option>
            <option value="placa">PLACA</option>
            <option value="responsable">RESPONSABLE</option>
            <option value="contacto">CONTACTO</option>
            <option value="tarifa">TARIFA</option>
            <option value="estado">ESTADO</option>
        </select>
    </div>
    <div class="filters">
        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
            <input type="text" name="numero_unidad" id="numero_unidad" placeholder="N° UNIDAD" class="filter-input" value="{{ numero_unidad }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
            <input type="text" name="socio" id="socio" placeholder="SOCIO" class="filter-input" value="{{ socio }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
            <input type="text" name="placa" id="placa" placeholder="PLACA" class="filter-input" value="{{ placa }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
            <input type="text" name="responsable" id="responsable" placeholder="LOCADOR" class="filter-input" value="{{ responsable }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
            <input type="text" name="contacto" id="contacto" placeholder="CONTACTO" class="filter-input" value="{{ contacto }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
            <input type="text" name="tarifa" id="tarifa" placeholder="TARIFA" class="filter-input" value="{{ tarifa }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
            <input type="text" name="estado" id="estado" placeholder="ESTADO" class="filter-input" value="{{ estado }}" style="display: none;">
        </form>
    </div>
    <div class="container">
        <table class="unidad">
            <thead>
                <tr>
                    <th>
                        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
                            <input type="text" name="numero_unidad" id="numero_unidad" placeholder="N° UNIDAD" value="{{ numero_unidad }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
                            <input type="text" name="socio" id="socio" placeholder="SOCIO" value="{{ socio }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
                            <input type="text" name="placa" id="placa" placeholder="PLACA" value="{{ placa }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
                            <input type="text" name="responsable" id="responsable" placeholder="LOCADOR" value="{{ responsable }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
                            <input type="text" name="contacto" id="contacto" placeholder="CONTACTO" value="{{ contacto }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
                            <input type="text" name="tarifa" id="tarifa" placeholder="TARIFA" value="{{ tarifa }}">
                        </form>
                    </th>
                    <th>Vencimiento SOAT </th>
                    <th>Vencimiento CIVM </th>
                    <th>
                        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
                            <input type="text" name="estado" id="estado" placeholder="ESTADO" value="{{ estado }}">
                        </form>
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
        
            <tbody>
                {% for unidad in unidades %}
                <tr>
                    <td data-label="N° UNIDAD">{{ unidad.numero_unidad }}</td>
                    <td data-label="SOCIO">{{ unidad.socio_display }}</td>
                    <td data-label="PLACA">{{ unidad.placa_display }}</td>
                    <td data-label="LOCADOR">{{ unidad.responsable_display }}</td>
                    <td data-label="CONTACTO">{{ unidad.contacto_display }}</td>
                    <td data-label="TARIFA">{{ unidad.id_tarifa__nombre_tarifa_display }}</td>
                    <td data-label="SOAT VENCIMIENTO">{{ unidad.vencimiento_soat |date:"d/m/Y"  }}</td>
                    <td data-label="CIVM VENCIMIENTO">{{ unidad.vencimiento_civm |date:"d/m/Y"  }}</td>
                    <td data-label="ESTADO">{{ unidad.estado_display }}</td>
                    <td data-label="EDITAR"><button type="button"><a class="link-registros" href="{% url 'editar_unidad' unidad.id_transporte %}">Editar</a></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        const dropdownButton = document.getElementById('dropdownButton');
        const dropdownMenu = document.getElementById('dropdownMenu');
    
        dropdownButton.addEventListener('click', () => {
            dropdownMenu.classList.toggle('show');
        });
    
        window.addEventListener('click', (e) => {
            if (!dropdownButton.contains(e.target) && !dropdownMenu.contains(e.target)) {
                dropdownMenu.classList.remove('show');
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const filterSelect = document.getElementById('filter-select');
            const filterInputs = document.querySelectorAll('.filter-input');
        
            filterSelect.addEventListener('change', function () {
                filterInputs.forEach(input => {
                    input.style.display = 'none';
                });
        
                const selectedFilter = this.value;
                if (selectedFilter) {
                    const selectedInput = document.getElementById(selectedFilter);
                    if (selectedInput) {
                        selectedInput.style.display = 'block';
                    }
                }
            });
        });
    </script>
</body>
</html>
{% endblock %}