{% extends 'layouts/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Unidades de Transporte</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles/listar_tablas.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico">
</head>
<body>
    <div class="header-container">
        <h1>LISTADO DE UNIDADES</h1>
        <a class="add-button" href="{% url 'crear_unidad' %}">AGREGAR UNIDAD</a>
    </div> 
    <div class="container">
        <table class="unidad">
            <thead>
                <tr>
                    <th>
                        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
                            <input type="text" name="numero_unidad" id="numero_unidad" placeholder="N° UNIDAD" value="{{ numero_unidad }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
                            <input type="text" name="socio" id="socio" placeholder="SOCIO" value="{{ socio }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
                            <input type="text" name="responsable" id="responsable" placeholder="RESPONSABLE" value="{{ responsable }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
                            <input type="text" name="contacto" id="contacto" placeholder="CONTACTO" value="{{ contacto }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
                            <input type="text" name="tarifa" id="tarifa" placeholder="TARIFA" value="{{ tarifa }}">
                        </form>
                    </th>
                    <th>Vencimiento Soat </th>
                    <th>
                        <form method="GET" action="{% url 'listar_unidades' %}" class="search-form">
                            <input type="text" name="estado" id="estado" placeholder="ESTADO" value="{{ estado }}">
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for unidad in unidades %}
                <tr>
                    <td data-label="Número de Unidad">{{ unidad.numero_unidad }}</td>
                    <td data-label="Socio">{{ unidad.socio_display }}</td>
                    <td data-label="Responsable">{{ unidad.responsable_display }}</td>
                    <td data-label="Contacto">{{ unidad.contacto_display }}</td>
                    <td data-label="Tarifa">{{ unidad.id_tarifa__nombre_tarifa_display }}</td>
                    <td data-label="soat Vencimiento">{{ unidad.vencimiento_soat |date:"d/m/Y"  }}</td>
                    <td data-label="Estado">{{ unidad.estado_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}