{% extends 'layouts/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Listado de Licencias</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles/listar_tablas.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico">
</head>
<body>
    <div class="header-container">
        <h1>LISTADO DE LICENCIAS</h1>
        <a class="add-button" href="{% url 'crear_licencias' %}">AGREGAR LICENCIA</a>
    </div> 
    <div class="right-aligned">
        <a href="{% url 'exportar_licencias_excel' %}?numero_licencia={{ numero_licencia }}&nombre={{ nombre }}&dni={{ dni }}&tipo_licencia={{ tipo_licencia }}&date_filterp={{ date_filterp }}" 
   class="btn btn-success">
    Exportar a Excel
</a>
    <div class="filter-container">
        <select id="filter-select">
            <option value="">Seleccione un filtro</option>
            <option value="numero_licencia">Nº LICENCIA</option>
            <option value="nombre">NOMBRE</option>
            <option value="dni">DNI</option>
            <option value="tipo_licencia">TIPO</option>
            <option value="date_filterp">EXPIRACION</option>
        </select>
    </div>
    <div class="filters">
        <form method="GET" action="{% url 'listar_licencias' %}" class="search-form">
            <input type="text" name="numero_licencia" id="numero_licencia" placeholder="Nº LICENCIA" class="filter-input" value="{{ numero_licencia }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_licencias' %}" class="search-form">
            <input type="text" name="nombre" id="nombre" placeholder="NOMBRE" class="filter-input" value="{{ nombre }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_licencias' %}" class="search-form">
            <input type="text" name="dni" id="dni" placeholder="DNI" class="filter-input" value="{{ dni }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_licencias' %}" class="search-form">
            <input type="text" name="tipo_licencia" id="tipo_licencia" placeholder="TIPO" class="filter-input" value="{{ tipo_licencia }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_licencias' %}" class="search-form">
            <input type="text" name="date_filterp" id="date_filterp" placeholder="EXPIRACION" class="filter-input" value="{{ date_filterp }}" style="display: none;">
        </form>
    </div>
    <div class="container">
        <table class="unidad">
            <thead>
                <tr>
                    <th>
                        <form method="GET" action="{% url 'listar_licencias' %}" class="search-form">
                            <input type="text" name="numero_licencia" id="numero_licencia" placeholder="N° LICENCIA" value="{{ numero_licencia }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_licencias' %}" class="search-form">
                            <input type="text" name="nombre" id="nombre" placeholder="NOMBRE" value="{{ nombre }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_licencias' %}" class="search-form">
                            <input type="text" name="dni" id="dni" placeholder="DNI" value="{{ dni }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_licencias' %}" class="search-form">
                            <input type="text" name="tipo_licencia" id="tipo_licencia" placeholder="TIPO" value="{{ tipo_licencia }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_licencias' %}" class="search-form">
                            <input type="text" name="date_filterp" id="date_filterp" placeholder="EXPIRACION " value="{{ date_filterp }}">
                        </form>
                    </th>
                    <th>Conductor de Unidad</th>
                    <th>Unidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for licencia in licencias %}
                <tr>
                    <td data-label="NUMERO LICENCIA">{{ licencia.numero_licencia }}</td>
                    <td data-label="NOMBRE">{{ licencia.nombre }}</td>
                    <td data-label="DNI">{{ licencia.dni }}</td>
                    <td data-label="FECHA EMISION">{{ licencia.fecha_emision|date:"d/m/Y" }}</td>
                    <td data-label="FECHA EXPIRACION">{{ licencia.fecha_expiracion|date:"d/m/Y" }}</td>
                    <td data-label="TIPO LICENCIA">{{ licencia.tipo_licencia }}</td>
                    <td data-label="CONDUCTOR UNIDA">{{ licencia.numero_unidad }}</td>
                    <td data-label="ACCIONES">
                        <a href="{% url 'editar_licencia' licencia.id %}" class="edit-btn">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const filterSelect = document.getElementById('filter-select');
            const filterInputs = document.querySelectorAll('.filter-input');
        
            filterSelect.addEventListener('change', function () {
                // Ocultar todos los inputs de filtro
                filterInputs.forEach(input => {
                    input.style.display = 'none';
                });
        
                // Mostrar el input correspondiente al filtro seleccionado
                const selectedFilter = this.value;
                if (selectedFilter) {
                    const selectedInput = document.getElementById(selectedFilter);
                    if (selectedInput) {
                        selectedInput.style.display = 'block';
                    }
                }
            });
        });
    </script>
</body>
</html>
{% endblock %}