{% extends 'layouts/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Listado de Pagos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles/listar_tablas.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico">
</head>
<body>
    <h1>LISTADO DE PAGOS</h1>
    <div class="header-container">
        <div class="dropdown">
            <button class="dropdown-toggle" id="dropdownButton">Opciones</button>
            <div class="dropdown-menu" id="dropdownMenu">
                <a class="menu-item" href="{% url 'crear_pago' %}">AGREGAR PAGO</a>
            </div>
        </div>
    </div>
    <form id="date-filter-form">
        <label for="date_filterp_desde">Desde:</label>
        <input type="date" id="date_filterp_desde" name="date_filterp_desde" value="{{ date_filterp_desde|default:today }}">
        
        <label for="date_filterp_hasta">Hasta:</label>
        <input type="date" id="date_filterp_hasta" name="date_filterp_hasta" value="{{ date_filterp_hasta|default:today }}">
    </form>
    
    <div class="filter-container">
        <select id="filter-select">
            <option value="">Seleccione un filtro</option>
            <option value="numero_pago">N° PAGO</option>
            <option value="vuelta">VUELTA</option>
            <option value="numero_unidad">N° UNIDAD</option>
            <option value="metodo_pago">METODO DE PAGO</option>
            <option value="date_filterp">FECHA DE PAGO(MM/AAAA)</option>
            <option value="detalle">DETALLE</option>
        </select>
    </div>
    <div class="filters">
        <form method="GET" action="{% url 'listar_pagos' %}" class="search-form">
            <input type="text" name="numero_pago" id="numero_pago" placeholder="N° PAGO" value="{{ numero_pago }}" class="filter-input" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_pagos' %}" class="search-form">
            <input type="text" name="vuelta" id="vuelta" placeholder="VUELTA" value="{{ vuelta }}" class="filter-input" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_pagos' %}" class="search-form">
            <input type="text" name="numero_unidad" id="numero_unidad" placeholder="N° UNIDAD" value="{{ numero_unidad }}" class="filter-input" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_pagos' %}" class="search-form">
            <input type="text" name="metodo_pago" id="metodo_pago" placeholder="METODO DE PAGO" value="{{ metodo_pago }}" class="filter-input" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_pagos' %}" class="search-form">
            <input type="text" name="date_filterp" id="date_filterp" placeholder="FECHA DE PAGO(MM/AAAA)" value="{{ date_filterp }}" class="filter-input" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_pagos' %}" class="search-form">
            <input type="text" name="detalle" id="detalle" placeholder="DETALLE" value="{{ detalle }}" class="filter-input" style="display: none;">
        </form>
    </div>
    <div class="container">
        <table class="unidad">
            <thead>
                <tr>
                    <th>
                        <form method="GET" action="{% url 'listar_pagos' %}" class="search-form">
                            <input type="text" name="numero_pago" id="numero_pago" placeholder="N° PAGO" value="{{ numero_pago }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_pagos' %}" class="search-form">
                            <input type="text" name="vuelta" id="vuelta" placeholder="VUELTA" value="{{ vuelta }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_pagos' %}" class="search-form">
                            <input type="text" name="numero_unidad" id="numero_unidad" placeholder="N° UNIDAD" value="{{ numero_unidad }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_pagos' %}" class="search-form">
                            <input type="text" name="metodo_pago" id="metodo_pago" placeholder="METODO DE PAGO" value="{{ metodo_pago }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_pagos' %}" class="search-form">
                            <input type="text" name="date_filterp" id="date_filterp" placeholder="FECHA DE PAGO(MM/AAAA)" value="{{ date_filterp }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_pagos' %}" class="search-form">
                            <input type="text" name="detalle" id="detalle" placeholder="DETALLE" value="{{ detalle }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_pagos' %}" class="search-form">
                            <input type="text" name="usuario" id="usuario" placeholder="USUARIO" class="filter-input" value="{{ usuario }}">
                        </form>
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos_list %}
                    <tr>
                        <td data-label="Nº PAGO">{{ pago.id_pago }}</td>
                        <td data-label="VUELTA">{{ pago.vuelta_display }}</td>
                        <td data-label="Nº UNIDAD">{{ pago.numero_unidad_display }}</td>
                        <td data-label="METODO PAGO">{{ pago.metodo_pago_display }}</td>
                        <td data-label="FECHA PAGO">{{ pago.fecha_pago_display }}</td>
                        <td data-label="DETALLE">{{ pago.detalle_display }}</td>
                        <td data-label="USUARIO">{{ pago.usuario_display }}</td>
                        <td data-label="EDITAR"><button type="button"><a class="link-registros" href="{% url 'editar_pago' pago.id_pago %}">Editar</a></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
                const dropdownButton = document.getElementById('dropdownButton');
        const dropdownMenu = document.getElementById('dropdownMenu');
    
        dropdownButton.addEventListener('click', () => {
            dropdownMenu.classList.toggle('show');
        });
    
        window.addEventListener('click', (e) => {
            if (!dropdownButton.contains(e.target) && !dropdownMenu.contains(e.target)) {
                dropdownMenu.classList.remove('show');
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const filterSelect = document.getElementById('filter-select');
            const filterInputs = document.querySelectorAll('.filter-input');
        
            filterSelect.addEventListener('change', function () {
                filterInputs.forEach(input => {
                    input.style.display = 'none';
                });
        
                const selectedFilter = this.value;
                if (selectedFilter) {
                    const selectedInput = document.getElementById(selectedFilter);
                    if (selectedInput) {
                        selectedInput.style.display = 'block';
                    }
                }
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const desdeInput = document.getElementById('date_filterp_desde');
            const hastaInput = document.getElementById('date_filterp_hasta');
        
            const fetchAndUpdateTable = () => {
                const desde = desdeInput.value;
                const hasta = hastaInput.value;
        
                // Construye la URL con los parámetros
                const url = `{% url 'listar_pagos' %}?date_filterp_desde=${desde}&date_filterp_hasta=${hasta}`;
        
                // Realiza la solicitud
                fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error en la solicitud: ' + response.statusText);
                        }
                        return response.text();
                    })
                    .then(html => {
                        // Extrae y reemplaza el contenido de la tabla
                        const parser = new DOMParser();
                        const doc = parser.parseFromString(html, 'text/html');
                        const newContent = doc.querySelector('.container').innerHTML;
                        document.querySelector('.container').innerHTML = newContent;
                    })
                    .catch(error => console.error('Error al actualizar los datos:', error));
            };
        
            // Agrega el evento de cambio a los inputs
            [desdeInput, hastaInput].forEach(input => {
                input.addEventListener('change', fetchAndUpdateTable);
            });
        });
        </script>
        
</body>
</html>
{% endblock %}