{% load static %}

<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico">

</head>
<body>
    
    <nav class="navbar">
        <ul>
            <li>
                <a href="{% url 'index' %}">INCIO</a>
            </li>
            <li> 
                <a href="{% url 'listar_unidades' %}">UNIDADES</a>
            </li>
            <li> 
                <a href="{% url 'project' %}">projects</a>
            </li>
            <li>
                <a href="{% url 'listar_stock' %}">STOCK</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
            <li>
                <a href="{% url 'crear_contadores_surtidor' %}">TURNOS</a>
            </li>
            <li>
                <a href="{% url 'exit' %}">SALIR</a>
            </li>
        </ul>
    
    </nav>
    
    {% block content %}
    {% endblock %}
</body>
</html>

