{% extends 'layouts/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Registro de stock</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles/crear_stock.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico">
</head>
<body>
    <div id="crear_stock">
        <h1>Registro de stock</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
        </form>
    </div>
</body>
</html>
{% endblock %}