{% extends 'layouts/base.html' %}

{% block content %}
<head>
    <title>Historico de Stock</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles/listar_stock.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico">
</head>
<div class="container">
    <h1>Historico de Stock</h1>
    <table class="stock">
        <thead>
            <tr>
                <th>Fecha Hora</th>
                <th>Stock Inicial</th>
                <th>Descarga</th>
                <th>Stock Final</th>
                <th>Diferencias</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td data-label="Fecha">{{ stock.timestamp }}</td>
                <td data-label="Inicial">{{ stock.stock_inicial }}</td>
                <td data-label="Descarga">{{ stock.descarga }}</td>
                <td data-label="Final">{{ stock.stock_final }}</td>
                <td data-label="Diferencias">{{ stock.diferencias }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="add-link" href="{% url 'crear_stock' %}">Registrar stock</a>
</div>
{% endblock %}
