/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 20px; /* Agrega un relleno de 20px a los lados */
    position: relative;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
}

/* Contenedor principal */
#crear_stock {
    border: 2px solid grey; /* Borde de 2px */
    border-radius: 5px; /* Esquinas redondeadas */
    padding: 20px;
    max-width: 500px;
    width: 100%; /* El contenedor ocupará el 100% del ancho disponible hasta su tamaño máximo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Incluye el padding y borde en el ancho total */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Título */
#crear_stock h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: grey;
}

/* Estilos para el formulario */
#crear_stock form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todos los elementos del formulario */
}

/* Estilos para los campos del formulario */
#crear_stock form p {
    margin-bottom: 15px;
    width: 100%; /* Asegura que los campos ocupen el ancho total del contenedor */
}

#crear_stock form input[type="text"],
#crear_stock form input[type="number"],
#crear_stock form select,
#crear_stock form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
}

/* Estilos para el botón */
#crear_stock form button {
    background-color: #0e6d75e5;
    color: #fff;
    border: none;
    padding: 5px 10px; /* Botón más pequeño */
    font-size: 12px; /* Texto más pequeño */
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    width: fit-content; /* Ajusta el ancho al contenido */
    min-width: 80px; /* Evita que el botón sea demasiado pequeño */
    margin-top: 15px; /* Añade separación entre el botón y los campos */
}

#crear_stock form button:hover {
    background-color: #0056b3;
}

