/* Estilos específicos para crear_unidades.html */
#crear-unidad h1 {
    text-align: center;
    color: grey; /* Accento */
    margin-top: 20px;
}

#crear-unidad form {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    border: 2px solid grey; /* Borde de color gris */
}

#crear-unidad form p {
    margin-bottom: 20px;
}

#crear-unidad form label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: grey; /* Texto principal */
    font-weight: bold;
}

#crear-unidad form input[type="checkbox"] {
    margin-right: 10px;
}


#crear-unidad form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #34C759; /* Accento */
    color: #d3d3d3; /* Fondo principal */
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#crear-unidad form button:hover {
    background-color: #b0c4de; /* Texto secundario */
}

#crear-unidad a {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #34C759; /* Accento */
    color: #d3d3d3; /* Fondo principal */
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

#crear-unidad a:hover {
    background-color: #b0c4de; /* Texto secundario */
}

/* Media queries para diseño responsive */
@media (max-width: 768px) {
    #crear-unidad form {
        width: 95%;
        padding: 10px;
    }

    #crear-unidad form button, #crear-unidad a {
        width: 100%;
        margin: 10px 0;
        padding: 8px;
    }
}
