/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #0a1e35; /* Fondo principal */
    margin: 0;
    padding: 0;
    color: grey; /* Texto principal */
}

h1 {
    text-align: center;
    color: grey;
    margin-top: 20px;
}

/* Estilo para los inputs de búsqueda */
.search-form input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}
.search-form-ruc input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;}
/* Contenedor principal */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #0a1e35;
    border: 2px solid white; /* Borde gris */
    border-radius: 8px;
    box-sizing: border-box;
    overflow-x: auto;
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Ajustar ancho fijo */
}

th, td {
    border: 1px solid grey; /* Bordes de las celdas */
    padding: 10px;
    text-align: center;
    color: grey; /* Texto de las celdas */
    font-size: 14px;
    word-wrap: break-word; /* Ajustar texto largo */
}

th {
    background-color: #0a1e35; /* Fondo de encabezados */
    color: grey; /* Texto de encabezados */
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #0d2745; /* Color para filas pares */
}

tr:hover {
    background-color: #b0c4de; /* Fondo al pasar el cursor */
    color: #000000; /* Cambiar texto al pasar el cursor */
}

/* Botón de agregar */
.add-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #0e6d75e5; /* Fondo del botón */
    color: white; /* Texto del botón */
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.add-button:hover {
    background-color: #28a745; /* Cambio de color al pasar el cursor */
}
.edit-btn{
    color: gray;
}

.filter-container {
    display: none; /* Ocultar todo el contenedor */
}
#filter-select {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Diseño responsive */
@media (max-width: 768px) {
    .container {
        margin-top: 30px; /* Espacio suficiente para el formulario fijo */
    }
    .unidad thead {
        display: none; /* Ocultar encabezados */
    }

    .unidad tr{
        display: block; /* Mostrar elementos como bloques */
        margin-bottom: 20px;
    }

    .unidad td{
        display: block;
        text-align: right;
        border-bottom: 1px solid #ddd;
        color: #c0c0c0;
    }


    .unidad td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    tr:hover {
        background-color: #3170c3; /* Fondo al pasar el cursor */
    }
    .add-button {
        width: 60%; /* Reducir ancho del botón */
        font-size: 14px;
    }
    .filter-container {
        display: block; /* Mostrar en dispositivos pequeños */
        margin: 10px 0;
        text-align: center;
    }
    
    #filter-select {
        width: 80%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    /* Estilo para los inputs de búsqueda */
    .search-form input[type="text"] {
        width: 80%;
        padding: 12px;
        margin: 4px 0;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s;
    }
    .search-form-ruc input[type="text"] {
        width: 100%;
        padding: 12px;
        margin: 4px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s;}
    }

@media (max-width: 480px) {
    .container {
        margin-top: 30px; /* Espacio suficiente para el formulario fijo */
    }
    .unidad thead {
        display: none; /* Ocultar encabezados */
    }

    .unidad tr{
        display: block;
        margin-bottom: 20px;
    }

    .unidad td{
        display: block;
        text-align: right;
        border-bottom: 1px solid #2d2d2d;
        color: #c0c0c0;
    }

    .unidad td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        color: rgb(208, 208, 208);
    }
    .filter-container {
        display: block; /* Mostrar en dispositivos pequeños */
        margin: 10px 0;
        text-align: center;
    }
    tr:hover {
        background-color: #3170c3; /* Fondo al pasar el cursor */
    }
    
    #filter-select {
        width: 80%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    /* Estilo para los inputs de búsqueda */
    .search-form input[type="text"] {
        width: 80%;
        padding: 12px;
        margin: 20px auto;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s;
        
    }
    .search-form-ruc input[type="text"] {
        width: 100%;
        padding: 12px;
        margin: 4px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s;
    }
    

}