/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #0a1e35; /* Fondo principal */
    margin: 0;
    padding: 0;
    color: grey; /* Texto principal */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: transparent; /* Fondo transparente */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    box-sizing: border-box;
    overflow-x: auto;
    border: 2px solid grey; /* Borde de color gris */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: white;
    margin-left: 30px;  /* Margen izquierdo */
    font-size: 30px;  /* Ajusta el tamaño según sea necesario */
    margin-bottom: 0;  /* Asegura que el margen inferior sea cero para alineación */
}


.transport-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Fijar el ancho de la tabla para que se ajuste correc.tamente */
}

.transport-table th, .transport-table td {
    border: 1px solid grey; /* Secundario */
    padding: 8px;
    text-align: center;
    color: grey; /* Texto principal */
    word-wrap: break-word; /* Permite que el texto se rompa en palabras largas */
    max-width: 250px; /* Ajuste máximo para dispositivos móviles */
    overflow: hidden; /* Evitar desbordamiento visible */
    white-space: nowrap; /* Evitar que el texto se divida en múltiples líneas */
}

.transport-table th {
    background-color: #34495e; /* Secundario */
    color: #d3d3d3; /* Fondo principal */
}



.transport-table tr:hover {
    background-color: #b0c4de; /* Texto secundario */
}

.add-link {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #34C759; /* Accento */
    color: #d3d3d3; /* Fondo principal */
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold; /* Letra más gruesa */
}

.add-link:hover {
    background-color: #b0c4de; /* Texto secundario */
}

/* Media queries para diseño responsive */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .transport-table th, .transport-table td {
        padding: 6px;
    }

    .add-link {
        width: 100%;
        margin: 10px auto;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .transport-table thead {
        display: none;
    }

    .transport-table, .transport-table tbody, .transport-table tr, .transport-table td {
        display: block;
        width: 100%;
    }

    .transport-table tr {
        margin-bottom: 15px;
        border: 1px solid #5a738e; /* Agregado para separar visualmente cada fila */
        padding: 3px; /* Agregado para espacio entre filas */
    }

    .transport-table td {
        text-align: left; /* Alinear texto a la izquierda para mejorar la legibilidad */
        padding-left: 10px; /* Ajuste de espacio a la izquierda */
        position: relative;
        border: none; /* Eliminar bordes para que parezca más un listado */
    }

    .transport-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
        color: #b0c4de; /* Texto secundario */
    }
}

