/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #0a1e35; /* Fondo principal */
    margin: 0;
    padding: 0;
    color: grey; /* Texto principal */
}

/* Contenedor del encabezado */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0a1e35;
}

.header-container h1 {
    margin: 0;
    color: white;
    font-size: 24px;
    flex-grow: 1;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #0e6d75e5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 60px;
    margin-top: 30px;
}

.dropdown-toggle:hover {
    background-color: #135055e5;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #0e6c75;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
    min-width: 100px;
    margin-top: 5px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu .menu-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    gap: 5px;
}

.dropdown-menu .menu-item:hover {
    background-color: #2a4c4faf;
}

.add-button {
    background-color: #0e6d75e5; /* Fondo del botón */
    color: white; /* Texto del botón */
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.add-button:hover {
    background-color: #28a745; /* Cambio de color al pasar el cursor */
}

button{
    background-color: #0e6d75e5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.link-registros {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* General Styles for the Form */
#date-filter-form {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

/* Label Styling */
#date-filter-form label {
    font-size: 14px;
    color: #ffffff;
}

#date-filter-form input[type="date"] {
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

#date-filter-form input[type="date"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* Contenedor principal */
.container {
    width: 80%;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #0a1e35;
    border: 2px solid white; /* Borde gris */
    border-radius: 8px;
    box-sizing: border-box;
    overflow-x: auto;
}

/* Estilos para la tabla */
table.unidad {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Ajustar ancho fijo */
}

table.unidad th, table.unidad td {
    border: 1px solid grey; /* Bordes de las celdas */
    padding: 10px;
    text-align: center;
    color: grey; /* Texto de las celdas */
    font-size: 14px;
    word-wrap: break-word; /* Ajustar texto largo */
}

table.unidad th {
    background-color: #0a1e35; /* Fondo de encabezados */
    color: white; /* Texto de encabezados */
    font-weight: bold;
}

table.unidad tr:nth-child(even) {
    background-color: #0d2745; /* Color para filas pares */
}

table.unidad tr:hover {
    background-color: #b0c4de; /* Fondo al pasar el cursor */
    color: #000000; /* Cambiar texto al pasar el cursor */
}

/* Estilo para los inputs de búsqueda */
.search-form input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.search-form input[type="text"]:focus {
    border-color: #28a745;
    outline: none;
}
.filter-container{
    display: none;
}



/* Media queries para diseño responsive */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
        margin: 10px auto;
    }
    #date-filter-form {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #date-filter-form label,
    #date-filter-form input[type="date"] {
        width: 50%;
        text-align: center;
    }

    .header-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    tr:hover {
        background-color: #3170c3; /* Fondo al pasar el cursor */
    }
    .add-button {
        width: 50%;
        text-align: center;
        margin-top: 10px;
    }

    table.unidad th, table.unidad td {
        padding: 8px;
    }
    /* Mostrar filtros en bloque para pantallas pequeñas */
    .search-form input[type="text"] {
        width: 20%; /* Ocupa todo el ancho */
        margin-bottom: 10px;
    }
    .filter-container {
        display: block; /* Mostrar en dispositivos pequeños */
        margin: 10px 0;
        text-align: center;
    }
    
    #filter-select {
        width: 80%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    /* Estilo para los inputs de búsqueda */
    .search-form input[type="text"] {
        width: 80%;
        padding: 12px;
        margin: 4px 0;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s;
    }
    .search-form-ruc input[type="text"] {
        width: 100%;
        padding: 12px;
        margin: 4px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s;}
    }
    .right-aligned {
        justify-content: center; /* Centra el botón en pantallas móviles */
    }

    .btn-success {
        font-size: 14px; /* Tamaño de texto más pequeño en pantallas pequeñas */
        padding: 8px 16px; /* Reduce el relleno en pantallas pequeñas */
    }

@media (max-width: 480px) {
    table.unidad thead {
        display: none;
    }

    table.unidad, table.unidad tbody, table.unidad tr, table.unidad td {
        display: block;
        text-align: right;
        border-bottom: 1px solid #ddd;
    }

    table.unidad tr {
        margin-bottom: 15px;
        border: 1px solid #5a738e;
        padding: 3px;
    }

    table.unidad td {
        text-align: right;
        padding-left: 100px;
        position: relative;
        border: none;
    }

    table.unidad td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
        color: #b0c4de;
    }

    /* Mostrar filtros al inicio */
    .search-form {
        display: block;
        margin-bottom: 10px;
    }

    .search-form input[type="text"] {
        width: 100%; /* Asegurar que los filtros ocupen todo el ancho */
    }
}
