/* Estilo general del contenedor */
.container {
    text-align: center;
    padding: 40px;
    background-color: #0a1e35; /* Fondo sugerido */
    color: #a3d4f7; /* Color de texto sugerido */
}

/* Contenedor de la imagen */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* Imagen responsiva */
.responsive-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Borde redondeado opcional */
    box-shadow: 0px 4px 6px rgba(93, 91, 91, 0.3); /* Sombra */
}

/* Título */
h1 {
    font-size: 2rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    color :grey
}
