{% extends 'layouts/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Pagos</title>
    <link rel="stylesheet" href="/static/styles/transporte.css">
</head>

    <h1>bienvenidos</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam optio, incidunt laborum odio quidem reprehenderit sequi quibusdam aperiam, velit officia, quis laboriosam deserunt voluptas at illum minima cupiditate rerum! Accusamus, consequuntur corrupti a, asperiores possimus pariatur, rem quibusdam debitis fugiat unde esse. Saepe voluptates tenetur, explicabo pariatur, magni, hic at aspernatur id repellat natus distinctio maiores ullam molestias nobis earum ex aliquid obcaecati magnam eius. Sed sit velit dolores, porro dolorum quae sint reiciendis ipsam expedita laudantium non nemo nisi nobis quos cupiditate voluptatum laboriosam, veritatis nesciunt neque explicabo voluptate! Officia pariatur animi dolor necessitatibus quidem consequuntur, sit eligendi. Dolore.</p>

<div class="image-container">
    <img src="/static/autobus.png" alt="Ejemplo" class="responsive-image">
</div>
{% endblock %}
