{% extends 'layouts/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles/transporte.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico">
    <title>Home-Aplicaciones</title>
</head>
<div class="container">
    <div class="image-container">
        <img src="/static/autobus.png" alt="Ejemplo" class="responsive-image">
    </div>
    <h1>TRANSPORTE</h1>
</div>
{% endblock %}

