{% extends 'layouts/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Control de Unidades</title>
    <link rel="stylesheet" href="/static/styles/listar_tablas.css">
</head>
<body>
    <div class="header-container">
        <h1>LISTADO CONTROL DE UNIDADES</h1>
        <a class="add-button" href="{% url 'crear_control_unidad' %}">AGREGAR CONTROL</a>
    </div> 
    <div class="filter-container">
        <select id="filter-select">
            <option value="">Seleccione un filtro</option>
            <option value="numero_control">Nº CONTROL</option>
            <option value="numero_unidad">Nº UNIDAD</option>
            <option value="vuelta">VUELTA</option>
            <option value="date_filterp">FECHA VUELTA</option>
            <option value="usuario">USUARIO</option>
        </select>
    </div>

    <div class="filters">
        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
            <input type="text" name="numero_control" id="numero_control" placeholder="Nº CONTROL" class="filter-input" value="{{ numero_control }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
            <input type="text" name="numero_unidad" id="numero_unidad" placeholder="Nº UNIDAD" class="filter-input" value="{{ numero_unidad }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
            <input type="text" name="vuelta" id="vuelta" placeholder="VUELTA" class="filter-input" value="{{ vuelta }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
            <input type="text" name="date_filterp" id="date_filterp" placeholder="FECHA VUELTA (MM/AAAA)" class="filter-input" value="{{ date_filterp }}" style="display: none;">
        </form>
        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
            <input type="text" name="usuario" id="usuario" placeholder="USUARIO" class="filter-input" value="{{ usuario }}" style="display: none;">
        </form>
    </div>
    <div class="container">
        <table class="unidad">
            <thead>
                <tr>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="numero_control" id="numero_control" placeholder="N° CONTROL" value="{{ numero_control }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="numero_unidad" id="numero_unidad" placeholder="N° UNIDAD" value="{{ numero_unidad }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="vuelta" id="vuelta" placeholder="VUELTA" value="{{ vuelta }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="date_filterp" id="date_filterp" placeholder="FECHA VUELTA (MM/AAAA)" value="{{ date_filterp }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="usuario" id="usuario" placeholder="USUARIO" value="{{ usuario }}">
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for control in controles %}
                <tr>
                    <td data-label="Nº CONTROL">{{ control.id_control }}</td>
                    <td data-label="Nº UNIDAD">{{ control.unidad_display }}</td>
                    <td data-label="VUELTA">{{ control.vuelta_display }}</td>
                    <td data-label="FECHA VUELTA">{{ control.fecha_vuelta |date:"d/m/Y H:i"  }}</td>
                    <td data-label="USUARIO">{{ control.usuario }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const filterSelect = document.getElementById('filter-select');
            const filterInputs = document.querySelectorAll('.filter-input');
        
            filterSelect.addEventListener('change', function () {
                // Ocultar todos los inputs de filtro
                filterInputs.forEach(input => {
                    input.style.display = 'none';
                });
        
                // Mostrar el input correspondiente al filtro seleccionado
                const selectedFilter = this.value;
                if (selectedFilter) {
                    const selectedInput = document.getElementById(selectedFilter);
                    if (selectedInput) {
                        selectedInput.style.display = 'block';
                    }
                }
            });
        });
    </script>
</body>
</html>
{% endblock %}