{% extends 'layouts/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Listado de Control de Unidades</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles/listar_tablas.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico">
</head>
<body>
    <h1>LISTADO CONTROL DE UNIDADES</h1>
    <div class="header-container">
        <div class="dropdown">
            <button class="dropdown-toggle" id="dropdownButton">Opciones</button>
            <div class="dropdown-menu" id="dropdownMenu">
                <a class="menu-item" href="{% url 'crear_control_unidad' %}">AGREGAR CONTROL</a>
            </div>
        </div>
    </div>

    <form id="date-filter-form">
        <label for="date_filterp_desde">Desde:</label>
        <input type="date" id="date_filterp_desde" name="date_filterp_desde" value="{{ date_filterp_desde }}">
    
        <label for="date_filterp_hasta">Hasta:</label>
        <input type="date" id="date_filterp_hasta" name="date_filterp_hasta" value="{{ date_filterp_hasta }}">
    </form>
   
    <div class="container">
        <table class="unidad">
            <thead>
                <tr>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="numero_control" id="numero_control" placeholder="N° CONTROL" value="{{ numero_control }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="numero_unidad" id="numero_unidad" placeholder="N° UNIDAD" value="{{ numero_unidad }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="vuelta" id="vuelta" placeholder="VUELTA" value="{{ vuelta }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="date_filterp" id="date_filterp" placeholder="FECHA VUELTA (MM/AAAA)" value="{{ date_filterp }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="usuario" id="usuario" placeholder="USUARIO" value="{{ usuario }}">
                        </form>
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for control in controles %}
                <tr>
                    <td data-label="Nº CONTROL">{{ control.id_control }}</td>
                    <td data-label="Nº UNIDAD">{{ control.unidad_display }}</td>
                    <td data-label="VUELTA">{{ control.vuelta_display }}</td>
                    <td data-label="FECHA VUELTA">{{ control.fecha_vuelta|date:"d/m/Y H:i:s" }}</td>
                    <td data-label="USUARIO">{{ control.usuario }}</td>
                    <td data-label="EDITAR"><button type="button"><a class="link-registros" href="{% url 'editar_control_unidad' control.id_control %}">Editar</a></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        const dropdownButton = document.getElementById('dropdownButton');
        const dropdownMenu = document.getElementById('dropdownMenu');
    
        dropdownButton.addEventListener('click', () => {
            dropdownMenu.classList.toggle('show');
        });
    
        window.addEventListener('click', (e) => {
            if (!dropdownButton.contains(e.target) && !dropdownMenu.contains(e.target)) {
                dropdownMenu.classList.remove('show');
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const filterSelect = document.getElementById('filter-select');
            const filterInputs = document.querySelectorAll('.filter-input');
        
            filterSelect.addEventListener('change', function () {
                filterInputs.forEach(input => {
                    input.style.display = 'none';
                });
        
                const selectedFilter = this.value;
                if (selectedFilter) {
                    const selectedInput = document.getElementById(selectedFilter);
                    if (selectedInput) {
                        selectedInput.style.display = 'block';
                    }
                }
            });
        });
    </script>
    

    <script> 
    document.addEventListener('DOMContentLoaded', () => {
    const desdeInput = document.getElementById('date_filterp_desde');
    const hastaInput = document.getElementById('date_filterp_hasta');

    const fetchAndUpdateTable = () => {
        const desde = desdeInput.value;
        const hasta = hastaInput.value;

        fetch(`{% url 'listar_control_unidades' %}?date_filterp_desde=${desde}&date_filterp_hasta=${hasta}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error en la solicitud: ' + response.statusText);
                }
                return response.text();
            })
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const newTable = doc.querySelector('.container').innerHTML;
                document.querySelector('.container').innerHTML = newTable;
            })
            .catch(error => console.error('Error al actualizar los datos:', error));
    };

    [desdeInput, hastaInput].forEach(input => {
        input.addEventListener('change', fetchAndUpdateTable);
    });
});
    </script>
</body>
</html>

{% endblock %}