{% extends 'layouts/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Control de Unidades</title>
    <link rel="stylesheet" href="/static/styles/listar_tablas.css">
</head>
<body>
    <div class="header-container">
        <h1>LISTADO DE CONTROL DE UNIDADES</h1>
        <a class="add-button" href="{% url 'crear_control_unidad' %}">AGREGAR CONTROL</a>
    </div> 
    <div class="container">
        <table class="control-table">
            <thead>
                <tr>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="numero_control" id="numero_control" placeholder="N° CONTROL" value="{{ numero_control }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="numero_unidad" id="numero_unidad" placeholder="N° UNIDAD" value="{{ numero_unidad }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="vuelta" id="vuelta" placeholder="VUELTA" value="{{ vuelta }}">
                        </form>
                    </th>
                    <th>
                        <form method="GET" action="{% url 'listar_control_unidades' %}" class="search-form">
                            <input type="text" name="date_filterp" id="date_filterp" placeholder="FECHA VUELTA (MM/AAAA)" value="{{ date_filterp }}">
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for control in controles %}
                <tr>
                    <td>{{ control.id_control }}</td>
                    <td>{{ control.unidad_display }}</td>
                    <td>{{ control.vuelta_display }}</td>
                    <td>{{ control.fecha_vuelta |date:"d/m/Y H:i"  }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}